<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=400, initial-scale=1.0" />
    <title>Brewery</title>
    <style>
        #mash {
            image-rendering: crisp-edges;
            image-rendering: -moz-crisp-edges;
        }
    </style>
</head>

<body>
    <canvas id="mash"></canvas>
    <script type="module" src=˜./js/brewGraph.js˜></script>
    <script type="module">
        import brewGraph from './js/brewGraph.js';

        let mash = new brewGraph({
            title: 'BREJA DO TIAGO QUE NAO SAI',
            width: 1200,
            heatingReasonDPM_UP: "2:1",
            heatingReasonDPM_DOWN: "1:5",
            theme: {
                backgroundColor: 'white',
                plotAreaBackgroundColor: 'rgba(200,255,255,0.1)',
                titleColor: 'black',
            },
            plan: {
                mash: {
                    type: 'single',
                    ramps:[
                        {
                            step: 'Liberação Enzimática',
                            temperature: 55,
                            time: 30,
                            addWater: true,
                            addGrain: true,
                        },
                        {
                            step: 'Liberação Proteica',
                            temperature: 68,
                            time: 30,
                        },
                        {
                            step: 'Mash-out',
                            temperature: 78,
                            time: 15,
                            addWater: true,
                            addHop: true,
                            addSpice: true,
                            addGrain: true,
                        },
                    ],
                },
                boiling : {
                    temperature : 100,
                    time : 60,
                    addWater:true,
                    addSpice:true,
                    addGrain:true,
                    hopping : [
                        {
                            hopName : 'Cascade',
                            type : 'Bitternes',
                            time : 5,
                            amountMg : 15,
                        },
                        {
                            hopName : 'Cascade',
                            type : 'FLavor',
                            time : 45,
                            amountMg : 15,
                        },
                        {
                            hopName : 'Simcoe',
                            type : 'FLavor',
                            time : 50,
                            amountMg : 15,
                        },
                        {
                            hopName : 'Amarilo',
                            type : 'FLavor',
                            time : 55,
                            amountMg : 15,
                        },
                    ],
                }
            },
        });

        document.onreadystatechange = (state) => {
            if(document.readyState == 'complete'){
                mash.setContext(document.getElementById("mash"));
                mash.draw();
            }
        }

    </script>
</body>

</html>