<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=400, initial-scale=1.0" />
    <title>Brewery</title>
    <style>
        #mash {
            image-rendering: crisp-edges;
            image-rendering: -moz-crisp-edges;
        }
        #plant {
            image-rendering: crisp-edges;
            image-rendering: -moz-crisp-edges;
        }
    </style>
</head>

<body>
    <table border="0" valign="top">
        <tr><td valign="top"><canvas id="mash"></canvas></td>
            <td valign="top"><canvas id="plant"></canvas></td></tr>
    </table>
    
    <script type="module" src=˜./js/brewGraph.js˜></script>
    <script type="module" src=˜./js/plant-monitor.js˜></script>
    <script type="module">
        import brewGraph from './js/brewGraph.js';
        import {actualData} from './data/actual.js';
        import PlantMonitor from './js/plant-monitor.js';

        const plan = {
            title: 'CRONOGRAMA DE CERVEJA',
            width: 1200,
            heatingReasonDPM_UP: "2:1",
            heatingReasonDPM_DOWN: "1:5",
            theme: {
                backgroundColor: 'white',
                plotAreaBackgroundColor: 'rgba(200,255,255,0.1)',
                titleColor: 'black',
            },
            plan: {
                mash: {
                    type: 'single',
                    ramps:[
                        {
                            id: 1,
                            step: 'Liberação Enzimática',
                            temperature: 55,
                            time: 30,
                            waterL: 20,
                            grainKg: 5,
                        },
                        {
                            id: 2,
                            step: 'Liberação Proteica',
                            temperature: 68,
                            time: 30,
                        },
                        {
                            id: 3,
                            step: 'Mash-out',
                            temperature: 78,
                            time: 15,
                            waterL: 20,
                            hopMg: 5,
                            spiceMg: 10,
                        },
                    ],
                },
                boiling : {
                    temperature : 100,
                    time : 60,
                    waterL:5,
                    spiceMg:5,
                    grainKg:1,
                    hopping : [
                        {
                            hopName : 'Cascade',
                            type : 'Bitternes',
                            time : 5,
                            amountMg : 15,
                        },
                        {
                            hopName : 'Cascade',
                            type : 'FLavor',
                            time : 45,
                            amountMg : 15,
                        },
                        {
                            hopName : 'Simcoe',
                            type : 'FLavor',
                            time : 50,
                            amountMg : 15,
                        },
                        {
                            hopName : 'Amarilo',
                            type : 'FLavor',
                            time : 55,
                            amountMg : 15,
                        },
                    ],
                }
            },
        };

        let mash = new brewGraph();
        let brewPlant = new PlantMonitor();

        document.onreadystatechange = (state) => {
            if(document.readyState == 'complete'){
                mash.setContext(document.getElementById("mash"));
                mash.initPlan(plan);

                let i=0;
                function add(){
                    mash.addActual(actualData.actual[i]);
                    i++;
                    if( i == actualData.actual.length )
                        return;
                    setTimeout(add, 100);
                }
                add();

                mash.draw();

                brewPlant.setContext(document.getElementById("plant"));
                brewPlant.init();
                brewPlant.draw();

                let status = 0;
                function changeStatus(){
                    if(status == 0)
                        brewPlant.setStatus('Valvula Direcional 1', 'on');
                    else
                        brewPlant.setStatus('Valvula Direcional 1', 'manual');

                    status = status == 0 ? 1 : 0;
                    setTimeout(changeStatus, 5000);
                }
                changeStatus();
            }
        }

    </script>
</body>

</html>